body{
    background-color: #fff;
    width: 330px; min-height: 200px;
    padding: 0 20px 10px 20px;
}

.rules > .title{
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    position: relative;
}
.rules > .title > h1{
    font-size: 1.4em;
}
.rules > .title > .add{
    position: absolute;
    right: 1px; top: 1em;
    font-size: 0.9em;
}

.rules > .wrap{
    font-size: 0.85em;
}
.rules > .wrap > .pair{
    position: relative;
    padding-left: 15px;
    padding-bottom: 1px;
}
.rules > .wrap > .pair > .from,
.rules > .wrap > .pair > .to{
    text-align: center;
}
.rules > .wrap > .pair > div > input{
    display: inline-block;
    text-align: center;
}
.rules > .wrap > .pair > .from > .group{
    width: 4em;
}
.rules > .wrap > .pair > .from > .project{
    width: 6em;
}
.rules > .wrap > .pair > .to{
    position: relative;
}
.rules > .wrap > .pair > .to > input{
    width: 12em;
}
.rules > .wrap > .pair > .action > a:link{
    background: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #666;
}
.rules > .wrap > .pair > .action > a:link:hover{
    color: #000;
}
.rules > .wrap > .pair > .action > .move{
    position: absolute;
    left: -0.2em; top: 6px;
    color: #999;
}

.rules > .wrap > .pair.disabled{
    opacity: 0.6;
}


.rules > .empty {
    padding: 5em 1em;
    text-align: center;
}
.rules > .empty > .text{
    font-size: 1.1em;
    color: #999;
}
